.main {
  height: 100vh;
  position: relative;
}
.App {
    background-color: #a3c7e9;
    display: flex;
    height: 100%;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    gap: 3vh
  }
  
.menu {
  position: absolute;
}

swiper-container {
  display: flex;
  align-items: center;
  width: min(100vw, 500px);
  height: 40vh;

}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.geoapify-autocomplete-input {
  padding: 0 31px 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: darken;
  line-height: 36px;
  height: 36px;
  border: none;
  border-bottom: 1px solid ;

  &:focus{
    outline: none;
  }
}

.geoapify-autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  background-color: #fff;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.geoapify-autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.geoapify-autocomplete-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-items .active {
  background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.geoapify-autocomplete-item .icon {
  display: inline-block;
  width: 40px;
  height: 24px;
  color: #aaa;
}

.geoapify-autocomplete-item .icon.emoji {
  color: unset;
  font-size: 20px;
  opacity: 0.9;
}

.geoapify-close-button {
  position: absolute;
  right: 5px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.geoapify-close-button.visible {
  display: flex;
}

.geoapify-close-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.geoapify-close-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-items .main-part .non-verified {
  color:  #ff4848;
}

.geoapify-autocomplete-items .secondary-part {
  margin-left: 10px;
  font-size: small;
  color: rgba(0, 0, 0, 0.6);
}

.metricToggler.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #68c4f5;
}

.metricToggler.react-toggle--checked .react-toggle-track {
  background-color: #68c4f5;
}

.metricToggler.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #68c4f5;
}

.metricToggler .react-toggle-track-check {
  color: #fff;
  top: 11.5px;
}

.metricToggler .react-toggle-track-x {
  top: 11.5px;
  color: #fff;
}

.metricToggler .react-toggle-track {
  background-color: #68c4f5;
}

.metricToggler.react-toggle--checked .react-toggle-thumb {
  border-color: #4D4D4D
}